<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/dist/bower_components/semantic/dist/semantic.css">
  </head>
  <body>
  	<div class="ui container page">
  		<h1><%= title %></h1>
  	</div>
  </body>
</html>
