<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/dist/bower_components/semantic/dist/semantic.css">
  </head>
  <body>
    <h2>Welcome to <i><%= title %></i>.</h2>
  </body>
</html>
